@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.banner-head-text {
  @apply text-4xl md:text-6xl text-txt dark:text-dark-txt font-Agbalumo;
}
.banner-sub-text {
  @apply text-xl md:text-2xl md:leading-10 text-secondaryText dark:text-dark-secondaryText;
}
.section-head-text {
  @apply text-3xl md:text-5xl text-txt dark:text-dark-txt font-Agbalumo;
}
.section-sub-text {
  @apply text-secondaryText dark:text-dark-secondaryText text-xl md:text-2xl max-w-4xl 2xl:max-w-full leading-8 md:leading-10 2xl:leading-[50px];
}
.input {
  @apply bg-slate-200 dark:bg-slate-800 py-4 px-6 text-secondaryText dark:text-dark-secondaryText rounded-lg outline-none border-none font-medium;
}
.input::placeholder {
  @apply dark:text-slate-500;
}
.input-label {
  @apply text-secondaryText dark:text-dark-secondaryText font-medium mb-1 text-left;
}
